---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import CrewComponent from "../components/preact/Crew";
---

<Layout title="Destination">
 <div id="body-container" class="w-full h-screen">
  <Header />

  <div id="dest-container" class="mx-auto w-full md:w-4/5 my-4 py-8">
   <h1
    class="text-white/25 font-font-sans-cond text-base text-center sm:text-left sm:text-lg md:text-xl font-bold uppercase tracking-letterSpacing1"
   >
    02 <span class="uppercase text-white/100 font-light">Meet your crew</span>
   </h1>

   <main class="m-4 py-8">
    <CrewComponent client:visible />
   </main>
  </div>
 </div>
</Layout>

<style>
 #body-container {
  background-image: url(/assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

 @media (min-width: 567px) {
  #body-container {
   background-image: url(/assets/crew/background-crew-tablet.jpg);
  }
 }

 @media (min-width: 760px) {
  #body-container {
   background-image: url(/assets/crew/background-crew-desktop.jpg);
  }
 }
</style>
