---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import PlanetTesimal from "../components/preact/PlanetTesimal";
---

<Layout title="Destination">
 <div id="body-container" class="w-full h-screen">
  <Header />

  <div id="dest-container" class="mx-auto w-full md:w-4/5 my-8 py-8">
   <h1
    class="text-white/25 font-font-sans-cond text-base sm:text-lg md:text-xl font-bold uppercase tracking-letterSpacing1"
   >
    01 <span class="uppercase text-white/100 font-light"
     >Pick your destination</span
    >
   </h1>

   <main class="m-4 py-8">
    <PlanetTesimal client:visible />
   </main>
  </div>
 </div>
</Layout>

<style>
 #body-container {
  background-image: url(/assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

 @media (min-width: 567px) {
  #body-container {
   background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
 }

 @media (min-width: 760px) {
  #body-container {
   background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
 }
</style>
