---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import PlanetTesimal from "../components/preact/PlanetTesimal";
import DestinationTab from "../components/preact/DestinationTab";
---

<Layout title="Destination">
 <div id="body-container" class="w-full h-screen">
  <Header />

  <div id="dest-container" class="mx-auto w-4/5 my-8">
   <h1
    class="text-white/25 font-font-sans-cond text-base sm:text-lg md:text-xl font-bold uppercase tracking-letterSpacing1"
   >
    01 <span class="uppercase text-white/100 font-light"
     >Pick your destination</span
    >
   </h1>

   <main class="m-4">
    <DestinationTab client:visible />

    <PlanetTesimal client:visible />
   </main>
  </div>
 </div>
</Layout>

<style>
 #body-container {
  background-image: url(/assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
 }

 @media (min-width: 567px) {
  #body-container {
   background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
 }

 @media (min-width: 760px) {
  #body-container {
   background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
 }

 #tabs-destination li {
  @apply border-b-2 border-b-white/0 py-4 hover:border-white/50;
 }

 #tabs-destination li > a {
  @apply text-accent hover:text-white aria-[selected=true]:text-white;
 }

 #tabs-destination li:has(a.current) {
  @apply border-b-2 border-b-white;
 }
</style>
