---
import Header from "../components/Header.astro";
import A from "../components/ui/A.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Space Tourism Website">
 <Header />

 <div
  class="flex-1 container container--home mx-auto grid place-items-center md:items-end px-8 gap-8 grid-cols-1 md:grid-cols-container-4 text-center sm:text-left"
  ,
 >
  <div class="col-span-2 w-4/5 md:space-y-8 leading-8 px-4">
   <h1
    class="text-accent font-font-sans-cond text-xl uppercase tracking-letterSpacing1"
   >
    So you want to travel to <span
     class="font-font-serif sm:text-7xl md:text-8xl text-9xl uppercase text-white block"
    >
     space
    </span>
   </h1>
   <p>
    Let’s face it; if you want to go to space, you might as well genuinely go to
    outer space and not hover kind of on the edge of it. Well sit back, and
    relax because we’ll give you a truly out of this world experience!
   </p>
  </div>

  <div class="">
   <A variant={"explore"} class={"px-16 inline-grid text-xl"}>Explore</A>
  </div>
 </div>
</Layout>

<style>
 .container--home {
  padding-bottom: max(6rem, 20vh);
 }
</style>
