---
import Navbar from "../components/Navbar.astro";
import A from "../components/ui/A.astro";
import Button from "../components/ui/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<main class="m-auto p-4 max-w-screen-lg text-white text-3xl h-screen">
 <Layout title="Space Tourism Website">
  <div class="container flex flex-col gap-4 h-full">
   <h1>Design System</h1>

   <section id="colors" class="my-12">
    <h2 class="uppercase"><span>01</span> colors</h2>
    <div class="grid grid-flow-col gap-4">
     <div class="grow-1">
      <div
       class="bg-dark text-white font-font-serif text-fs500 px-4 py-12 border border-white"
      >
       #0B0D17
      </div>
      <p class="text-fs500"><span class="text-accent">RGB</span> 11, 13, 23</p>
      <p class="text-fs500">
       <span class="text-accent">HSL</span> 230°, 35%, 7%
      </p>
     </div>
     <div class="grow-1">
      <div
       class="bg-accent text-dark font-font-sans-cond text-fs500 px-4 py-12 border border-white"
      >
       #D0D6F9
      </div>
      <p class="text-fs500">
       <span class="text-accent">RGB</span> 208, 214, 249
      </p>
      <p class="text-fs500">
       <span class="text-accent">HSL</span> 231°, 77%, 90%
      </p>
     </div>
     <div class="grow-1">
      <div
       class="bg-white py-12 px-4 text-dark font-font-serif text-fs500 border border-white"
      >
       #FFFFFF
      </div>
      <p class="text-fs500">
       <span class="text-accent">RGB</span> 255, 255, 255
      </p>
      <p class="text-fs500">
       <span class="text-accent">HSL</span> 0°, 0%, 100%
      </p>
     </div>
    </div>
   </section>

   <section class="py-16" id="typography">
    <h2 class="font-font-sans-cond text-xl uppercase tracking-letterSpacing1">
     <span class="mr-2 font-bold text-white/25">02</span>Typography
    </h2>

    <div class="flex gap-8">
     <div class="basis-full text-lg">
      <div class="flex flex-col gap-4 py-4">
       <p class="text-accent">Heading 1 - Bellefair Regular - 150px</p>
       <p class="leading-4 text-fs900 py-16 font-font-serif uppercase">Earth</p>
      </div>
      <div>
       <p class="text-accent">Heading 2 - Bellefair Regular - 100px</p>
       <p class="leading-4 text-fs800 py-12 font-font-serif uppercase">Venus</p>
      </div>
      <div>
       <p class="text-accent">Heading 3 - Bellefair Regular - 56px</p>
       <p class="text-5xl py-8 font-font-serif uppercase">Jupiter & Saturn</p>
      </div>
      <div>
       <p class="text-accent">Heading 4 - Bellefair Regular - 32px</p>
       <p class="leading-4 text-fs500 py-8 font-font-serif uppercase">
        Uranus, Neptune, & Pluto
       </p>
      </div>
      <div>
       <p class="text-accent">
        Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space
       </p>
       <p class="font-font-sans-cond text-fs500 uppercase py-8">
        So, you want to travel to space
       </p>
      </div>
     </div>

     <div class="basis-full text-fs400">
      <div>
       <p class="text-accent">Subheading 1 - Bellefair Regular - 28px</p>
       <p class="text-fs500 font-font-serif uppercase py-4">384,400 km</p>
      </div>
      <div>
       <p class="text-accent">
        Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space
       </p>
       <p class="text-fs300 font-font-sans-cond uppercase py-4">
        Avg. Distance
       </p>
      </div>
      <div>
       <p class="text-accent">
        Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space
       </p>
       <p class="text-fs400 font-font-sans-cond uppercase py-4 leading-4">
        Europa
       </p>
      </div>
      <div>
       <p class="text-accent">Body Text</p>
       <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
        hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
        vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
        laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.Lorem ipsum dolor sit
        amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
        aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
        vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor
        libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut
        justo. Suspendisse potenti.Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
        urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
       </p>
      </div>
     </div>
    </div>
   </section>

   <section>
    <h2 class="uppercase text-xl">
     <span class="mr-2 font-bold text-white/25">03</span> Interactive Elements
    </h2>

    <div>
     <Navbar />
    </div>

    <div class="flex">
     <div class="py-24">
      <A variant={"explore"} class={"content"}>Explore</A>
     </div>

     <div class="mb-[50vh] space-y-20 ml-20">
      <!-- tabs -->
      <div class="flex gap-12">
       <Button variant={"tabs"} aria-selected="true">Moon</Button>
       <Button variant={"tabs"}>Mars</Button>
       <Button variant={"tabs"}>Europa</Button>
      </div>

      <!-- dots -->
      <div class="flex gap-8">
       <Button variant={"dots"} class={""}
        ><span class="sr-only">Slide one</span></Button
       >
       <Button variant={"dots"}><span class="sr-only">Slide two</span></Button>
       <Button variant={"dots"}><span class="sr-only">Slide three</span></Button
       >
      </div>

      <div class="flex gap-8">
       <Button class={"p-20 aspect-square  rounded-full text-xl"}>1</Button>
       <Button class={"p-20 aspect-square  rounded-full text-xl"}>2</Button>
       <Button class={" p-20 aspect-square  rounded-full text-xl"}>3</Button>
      </div>
     </div>
    </div>
   </section>
  </div>
 </Layout>
</main>

<style></style>
