---
import Navbar from "./Navbar.astro";
---

<header
 class="w-full flex justify-between items-center max-w-screen-2xl px-4 py-8 mx-auto"
>
 <div>
  <img src="/assets/shared/logo.svg" alt="Space Tourism Logo" />
 </div>
 <Navbar />
</header>
