---
import Navbar from "./Navbar.astro";
---

<header
 class="w-full flex justify-between items-center max-w-screen-2xl px-4 py-8 mx-auto"
>
 <div>
  <img src="/assets/shared/logo.svg" alt="Space Tourism Logo" />
 </div>
 <button class="z-[2000] sm:hidden absolute top-8 right-4 bg-transparent"
  ><span
   class="sr-only"
   aria-controls="primary-navigation"
   aria-expanded="false">Menu</span
  >
  <img
   src="/assets/shared/icon-hamburger.svg"
   class=""
   id="hamburger-button"
   alt="Menu Open"
  />

  <img
   src="/assets/shared/icon-close.svg"
   id="close-button"
   class="hidden"
   alt="Close Menu"
  />
 </button>

 <Navbar />
</header>
