---
import A from "./ui/A.astro";
---

<nav class="">
 <ul id="primary-navigation" class="flex gap-16 font-font-sans-cond">
  <li id="home">
   <A href={"/"} variant={"navbar"} class={"active"}>
    <span>00</span>
    Home</A
   >
  </li>
  <li id="destination">
   <A href={"/destination"} variant={"navbar"}> <span>01</span>Destination</A>
  </li>
  <li id="crew">
   <A href={"/crew"} variant={"navbar"}> <span>02</span>Crew</A>
  </li>
  <li id="technology">
   <A href={"/technology"} variant={"navbar"}> <span>03</span>Technology</A>
  </li>
 </ul>
</nav>

<style>
 span {
  @apply font-bold mr-2;
 }

 li {
  @apply border-b-2 border-b-white/0 py-4 hover:border-white/50;
 }

 li:has(a:focus),
 li:has(a:active) {
  @apply border-b-white;
 }

 @media (max-width: 35rem) {
  #primary-navigation {
   position: fixed;
   padding: min(6rem, 20vh) 2rem;
   @apply flex-col bg-dark z-10;
   inset: 0 0 0 20%;
  }
 }

 li.active {
  @apply border-b-white;
 }
</style>
