---
import A from "./ui/A.astro";
---

<nav>
 <ul class="flex gap-16">
  <li>
   <A href={"#"} variant={"navbar"}>
    <span>01</span>
    Active</A
   >
  </li>
  <li>
   <A href={"#"} variant={"navbar"}>
    <span>02</span>

    Hovered</A
   >
  </li>
  <li>
   <A href={"#"} variant={"navbar"}>
    <span>03</span>
    Idle</A
   >
  </li>
 </ul>
</nav>

<style>
 span {
  @apply font-bold mr-2;
 }

 li {
  @apply border-b-2 border-white/0 py-4 hover:border-white/25 focus:border-white/50 active:border-white;
 }
</style>
