---
import A from "./ui/A.astro";

const currentPath = Astro.url.pathname;

const navItems = [
 { href: "/", label: "Home", metaText: "00" },
 { href: "/destination", label: "Destination", metaText: "01" },
 { href: "/crew", label: "Crew", metaText: "02" },
 { href: "/technology", label: "Technology", metaText: "03" },
];
---

<nav>
 <ul
  id="primary-navigation"
  data-visible="false"
  class="flex gap-2 md:gap-16 font-font-sans-cond"
 >
  {
   navItems.map((item) => (
    <li class={currentPath === item.href ? "border-b-2 border-white" : ""}>
     <A
      href={item.href}
      variant={"navbar"}
      class={`${currentPath === item.href ? "current" : ""}`}
     >
      <span>{item.metaText}</span>
      {item.label}
     </A>
    </li>
   ))
  }
 </ul>
</nav>

<style>
 span {
  @apply font-bold mr-2;
 }

 li {
  @apply border-b-2 border-b-white/0 py-4 hover:border-white/50;
 }

 li:has(a.current) {
  @apply border-b-white;
 }

 #primary-navigation {
  @apply bg-white/5 backdrop-blur-xl md:px-8;
 }

 @media (max-width: 35rem) {
  #primary-navigation {
   position: fixed;
   padding: min(6rem, 20vh) 2rem;
   @apply flex-col z-10;
   inset: 0 0 0 20%;
   transform: translateX(100%);
   transition: transform 0.5s ease-in-out;
  }

  #primary-navigation[data-visible="true"] {
   transform: translateX(0);
   transition: transform 0.5s ease-in-out;
  }

  li:has(a.current) {
   @apply border-b-white/0;
  }
 }

 li.active {
  @apply border-b-white;
 }
</style>

<script>
 const hamburgerButton = document.getElementById(
  "hamburger-button"
 ) as HTMLImageElement;
 const nav = document.getElementById("primary-navigation") as HTMLElement;
 const closeButton = document.getElementById(
  "close-button"
 ) as HTMLImageElement;

 hamburgerButton.addEventListener("click", (event) => {
  closeButton.classList.toggle("hidden");

  const visibility = nav.getAttribute("data-visible");

  if (visibility === "false") {
   nav.setAttribute("data-visible", "true");
  } else {
   nav.setAttribute("data-visible", "false");
  }

  hamburgerButton.classList.toggle("hidden");
 });

 closeButton.addEventListener("click", (event) => {
  closeButton.classList.toggle("hidden");

  const visibility = nav.getAttribute("data-visible");

  if (visibility === "true") {
   nav.setAttribute("data-visible", "false");
  } else {
   nav.setAttribute("data-visible", "true");
  }

  hamburgerButton.classList.toggle("hidden");
 });
</script>
