---
import A from "./ui/A.astro";

const currentPath = Astro.url.pathname;

const navItems = [
 { href: "/", label: "Home", metaText: "00" },
 { href: "/destination", label: "Destination", metaText: "01" },
 { href: "/crew", label: "Crew", metaText: "02" },
 { href: "/technology", label: "Technology", metaText: "03" },
];
---

<nav class="">
 <ul
  id="primary-navigation"
  class="flex md:px-6 gap-2 md:gap-16 font-font-sans-cond"
 >
  {
   navItems.map((item) => (
    <li class={currentPath === item.href ? "border-b-2 border-white" : ""}>
     <A
      href={item.href}
      variant={"navbar"}
      class={`${currentPath === item.href ? "current" : ""}`}
     >
      <span>{item.metaText}</span>
      {item.label}
     </A>
    </li>
   ))
  }
 </ul>
</nav>

<style>
 span {
  @apply font-bold mr-2;
 }

 li {
  @apply border-b-2 border-b-white/0 py-4 hover:border-white/50;
 }

 li:has(a.current) {
  @apply border-b-white;
 }

 #primary-navigation {
  @apply bg-white/5 backdrop-blur-xl;
  /* background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px); */
 }

 @media (max-width: 35rem) {
  #primary-navigation {
   position: fixed;
   padding: min(6rem, 20vh) 2rem;
   @apply flex-col z-10;
   inset: 0 0 0 20%;
  }

  li:has(a.current) {
   @apply border-b-white/0;
  }
 }

 li.active {
  @apply border-b-white;
 }
</style>
